.App {
  text-align: center;
  background-color: #f0f0f0;
  font-family: 'Cormorant', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.about-title-underline {
  color: grey;
}

.horizontal-rule {
  color: 'grey';
  height: 5;
}


/* Header.js------------------------------------------------------*/
.nav {
  background-color: #113E61C4;
}



/* HomeBanner.js------------------------------------------------------*/
.modal-header {
  background-color: #113E61;
  color: #F2F2F2;
}

.modal-body {
  background-color: #F2F2F2;
}

.content {
  height: 100vh;
  color: #fff;
  background-attachment: fixed;
  background-position: center;
}

.appointment-button {
  background: #EA1B2C;
  color: #fff;
  border: none;
  width: 400px
}

/* Footer.js------------------------------------------------------*/
.site-footer {
  background-color: #113E61;
  color: #fff;
  padding: 20px;
}

/* DoctorSection.js------------------------------------------------------*/
.doctor-title {
  text-align: justify;
}

.james-title {
  text-align: justify;
}

.james-description {
  text-align: justify;
}

.james-pic {
  height: 300px;
  width: 200px;
  border-color: rgb(0, 0, 0);
  border: solid;
  border-width: medium;
  border-radius: 10px;
}

.mark-title {
  text-align: justify;
}

.mark-description {
  text-align: justify;
}

.mark-pic {
  height: 200px;
  width: 300px;
  border-color: rgb(0, 0, 0);
  border: solid;
  border-width: medium;
  border-radius: 10px;
}

.simon-title {
  text-align: justify;
}

.simon-description {
  text-align: justify;
}

.simon-pic {
  height: 200px;
  width: 300px;
  border-color: rgb(0, 0, 0);
  border: solid;
  border-width: medium;
  border-radius: 10px;
}

/* MissionSection.js------------------------------------------------------*/
.mission-description {
  background-color: #54BCDCC4;
  height: 300px;
  width: 100%;
}

.mission-banner {
  height: 500px;
  width: 100%;
}

.mission-title {
  color: #fff;
}

/* IntroductionSection.js------------------------------------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.about-building-pic {
  height: 300px;
  width: 400px;
  border: solid;
  border-width: medium;
  border-color: black;
  border-radius: 20px;
}

/* WhyUsSection.js------------------------------------------------------*/
.why-us-container {
  background-color: #fff;
  width: 100%;
  max-width: 1400px;
  border-radius: 20px;
}

/* ServicesSection.js------------------------------------------------------*/

.services-container {
  height: 100%;
  width: 100%;
  border: solid;
  border-color: black;
  display: flex;
  justify-content: center;
}

.services-buttons {
  background-color: #54BCDC;
  color: #fff;
  height: 150px;
  width: 150px;
  border: solid;
  border-color: black;
  border-radius: 20px;
  margin: 10px;
}

.services-buttons:hover {
  cursor: not-allowed;
}

.popover-body {
  background-color: #54BCDC;
  width: 200%;
  font-size: 20px;
}


/* Location.js------------------------------------------------------*/

.location-container {
  background-color: #cfcfcf;
  width: 30rem;
  border-radius: 20px;
  text-align: center;
}